# Collocations

In [1]:
#load all libraries
import numpy as np
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
import spacy
import string

In [2]:
#load reviews data
reviews = pd.read_excel('C:/Users/beyku/CPT346 Assignment 1/data.csv', quotechar="'")

In [3]:
reviews.head(25)

,Date,News,Source
0,2007-12-15,Credit market strains hang on banks results\n\...,https://www.reuters.com/article/us-investment-...
1,2007-12-15,Dollar likely to weather any U.S. recession\n\...,https://www.reuters.com/article/us-investment-...
2,2007-12-14,Central bank plan delays day of reckoning\n\nN...,https://www.reuters.com/article/us-investment-...
3,2007-12-14,Inflation seen hanging over 2008 world economy...,https://www.reuters.com/article/us-investment-...
4,2007-12-14,Investors see housing as top U.S. election the...,https://www.reuters.com/article/us-investment-...
5,2007-12-31,2007 Market in Review: Burning Down the House\...,https://www.cnbc.com/id/22452086
6,2007-12-18,Fed Shrugged as Subprime Crisis Spread\n\nWASH...,https://www.nytimes.com/2007/12/18/business/18...
7,2007-12-12,"Greenspan: subprime ""accident waiting to happe...",https://www.reuters.com/article/us-greenspan-e...
8,2007-12-12,Fed cuts rates by a quarter point\nBen Bernank...,https://money.cnn.com/2007/12/11/news/economy/...
9,2007-12-30,Stocks End the Year With Only Modest Gains\n\n...,https://www.cnbc.com/id/22422124
10,2007-12-27,Maxjet collapses into bankruptcy\n\nMaxjet Air...,https://www.ft.com/content/6e1b0828-b229-11dc-...
11,2007-12-10,Bankers look to Fed to restore confidence\n\nE...,https://www.ft.com/content/06b5463c-a430-11dc-...
12,2007-12-17,Lehman faces legal threat over CDO deals\n\nLe...,https://www.ft.com/content/1464f522-ac08-11dc-...
13,2007-12-17,Japan big banks reluctant to pay for subprime ...,https://www.reuters.com/article/us-japan-subpr...
14,2007-12-10,Bank of America shutting $12 billion cash fund...,https://www.marketwatch.com/story/bank-of-amer...
15,2007-11-01,"The rating game: CDOs crash, banks may reveal ...",https://www.ft.com/content/14ca46c9-70a1-3565-...
16,2007-11-09,Housing meltdown hits US economy\n\nThe sudden...,http://news.bbc.co.uk/2/hi/business/7078492.stm
17,2007-11-05,Foreclosure wave sweeps America\n\nA wave of f...,http://news.bbc.co.uk/2/hi/business/7070935.stm
18,2007-11-21,Receive free Credit Suisse Group AG updates\n\...,https://www.ft.com/content/e6d10561-93af-3aa0-...
19,2007-11-01,Dow plunges 362 points on credit fears\n\nCiti...,https://money.cnn.com/2007/11/01/markets/marke...
20,2007-11-01,More trouble ahead for credit markets\nRating ...,https://money.cnn.com/2007/11/01/markets/credi...
21,2007-12-06,Foreclosures reach record high\nLenders report...,https://money.cnn.com/2007/12/06/real_estate/f...
22,2007-11-15,NovaStar Stock Plunges 63% on Bankrupty Warnin...,https://www.cnbc.com/id/21817736
23,2007-12-20,"UPDATE 3-CIBC warns of ""large charge"" as subpr...",https://www.reuters.com/article/cibc-subprime-...
24,2007-12-26,Home prices post record decline\nS&P/Case-Shil...,https://money.cnn.com/2007/12/26/real_estate/C...

Extract only the reviews...

In [4]:
comments = reviews['News']

## Preprocessing

In [5]:
#function to remove non-ascii characters
def _removeNonAscii(s): return "".join(i for i in s if ord(i)<128)

In [6]:
comments = comments.astype('str')

In [7]:
#remove non-ascii characters
comments = comments.map(lambda x: _removeNonAscii(x))

In [8]:
comments.head()

0    Credit market strains hang on banks results\n\...
1    Dollar likely to weather any U.S. recession\n\...
2    Central bank plan delays day of reckoning\n\nN...
3    Inflation seen hanging over 2008 world economy...
4    Investors see housing as top U.S. election the...
Name: News, dtype: object

In [9]:
#get stop words of all languages
STOPWORDS_DICT = {lang: set(nltk.corpus.stopwords.words(lang)) for lang in nltk.corpus.stopwords.fileids()}

In [10]:
#function to detect language based on # of stop words for particular language
def get_language(text):
    words = set(nltk.wordpunct_tokenize(text.lower()))
    lang = max(((lang, len(words & stopwords)) for lang, stopwords in STOPWORDS_DICT.items()), key = lambda x: x[1])[0]
    if lang == 'english':
        return True
    else:
        return False

In [11]:
#filter for only english comments
eng_comments=comments[comments.apply(get_language)]

In [12]:
eng_comments[0]

"Credit market strains hang on banks results\n\nNEW YORK (Reuters) - Credit market strains may start to abate in early 2008 once banks get through the next round of revealing losses from riskier assets, fund managers at the Reuters Investment Outlook 2008 Summit said this week.\n\nCentral banks plan, unveiled on Wednesday, to add temporary reserves may also help to cushion the global banking system from shocks of more losses from the melt down in U.S. subprime mortgages. But for elevated short-term borrowing costs to come down substantially, market participants need a more up-to-date tally of how much red ink the banking system has bled, fund managers said.\n\nUntil then, the specter of uncertainty about banks unknown losses in credit markets will likely haunt banks and clam up lending. Banks financial results issued in early 2008 may be ugly, but investors will be relieved to know the worst.\n\nTom Sowanick, chief investment officer with Clearbrook Financial LLC in Princeton, New Jersey, said concerns about the structured credit that banks and brokerage firms own, will come to a rest by the end of the first quarter or the end of the second quarter at the latest because (by then) many financial firms report and they wont hide that from their auditors.\n\nFor now, banks are hoarding cash to cushion themselves against the risk of more write downs and against so called counterparty risk in interbank lending markets: the danger that a borrower might not be able to repay a short-term loan. These trends have kept short term lending rates atypically high since credit market turmoil erupted in August.\n\nLibor, or the London interbank offered rate, is some 75 basis points above the federal funds target rate, the key U.S. overnight lending rate. Thats way above its historical long term average of within about 12.5 basis points, analysts note.\n\nLibor, the main short term borrowing rate in Europe and for adjustable-rate mortgages in the United States, is likely to remain high into the first quarter, said Deborah Cunningham, who manages Federated Investors U.S. and euro money market funds totaling $210 billion in assets.\n\nIn Europe, banks are not trustworthy of each other in short term lending markets, said Cunningham, who chief investment officer for taxable money markets at Federated Investors Inc.\n\nUntil there is a lot of year end of reporting, that rate (the spread of Libor over the U.S. fed funds target rate) will stay wide, Cunningham said.\n\nMost European banks are expected to report their next round of financial results between mid-February and early March.\n\nBy mid-2008, when most banks write-offs from subprime mortgage debt related losses will have been undertaken, the Libor-fed funds target rate spread should shrink, said Margaret Patel, managing director and senior portfolio manager with Evergreen Investment Management Company, LLC in Boston.\n\nShe added that banks have adequate capital ratios to absorb such losses.\n\nYet many uncertainties remain after a frighteningly swift erosion of investor confidence.\n\nThe upheaval in short term money markets including the U.S. asset-backed commercial paper market, which has shrunk by one third since August, was one of the biggest upsets to investors in 2007. Some see potential for the tumult to last much further into 2008 and perhaps beyond.\n\nAnd some fund managers warn that the banking system may face a much bigger problem than most analysts realize. Thats because the slicing and dicing of U.S. mortgage-backed assets that turned bad has spread so widely throughout the world as banks took stakes in collateralized debt obligations and structured investment vehicles. The extent of exposures via these vehicles is very hard to pin down.\n\nThere is a growing opinion that not necessarily interest rates are too high but the problems in credit markets need a cleaner resolution, said Robert Kowit, an international bond fund manager with Federated Investors.\n\nKowit cautions that although investors are mostly scrutinizing the results of European banks, who were quick to reveal they had been hurt by the crash in subprime U.S. mortgage assets caught in the housing market slump here, these losses may batter Asian investors more than has become apparent.'"

In [13]:
#drop duplicates
eng_comments.drop_duplicates(inplace=True)

In [14]:
#load spacy
nlp = spacy.load('en_core_web_sm')

In [15]:
#function to clean and lemmatize comments
def clean_comments(text):
    #remove punctuations
    regex = re.compile('[' + re.escape(string.punctuation) + '\\r\\t\\n]')
    nopunct = regex.sub(" ", str(text))
    #use spacy to lemmatize comments
    doc = nlp(nopunct, disable=['parser','ner'])
    lemma = [token.lemma_ for token in doc]
    return lemma

In [16]:
eng_comments

0     Credit market strains hang on banks results\n\...
1     Dollar likely to weather any U.S. recession\n\...
2     Central bank plan delays day of reckoning\n\nN...
3     Inflation seen hanging over 2008 world economy...
4     Investors see housing as top U.S. election the...
5     2007 Market in Review: Burning Down the House\...
6     Fed Shrugged as Subprime Crisis Spread\n\nWASH...
7     Greenspan: subprime "accident waiting to happe...
8     Fed cuts rates by a quarter point\nBen Bernank...
9     Stocks End the Year With Only Modest Gains\n\n...
10    Maxjet collapses into bankruptcy\n\nMaxjet Air...
11    Bankers look to Fed to restore confidence\n\nE...
12    Lehman faces legal threat over CDO deals\n\nLe...
13    Japan big banks reluctant to pay for subprime ...
14    Bank of America shutting $12 billion cash fund...
15    The rating game: CDOs crash, banks may reveal ...
16    Housing meltdown hits US economy\n\nThe sudden...
17    Foreclosure wave sweeps America\n\nA wave of f...
18    Receive free Credit Suisse Group AG updates\n\...
19    Dow plunges 362 points on credit fears\n\nCiti...
20    More trouble ahead for credit markets\nRating ...
21    Foreclosures reach record high\nLenders report...
22    NovaStar Stock Plunges 63% on Bankrupty Warnin...
23    UPDATE 3-CIBC warns of "large charge" as subpr...
24    Home prices post record decline\nS&P/Case-Shil...
Name: News, dtype: object

In [17]:
#apply function to clean and lemmatize comments
lemmatized = eng_comments.map(clean_comments)

In [18]:
lemmatized

0     [credit, market, strain, hang, on, bank, resul...
1     [dollar, likely, to, weather, any, U, S,  , re...
2     [central, bank, plan, delay, day, of, reckon, ...
3     [inflation, see, hang, over, 2008, world, econ...
4     [investor, see, housing, as, top, U, S,  , ele...
5     [2007, market, in, Review,  , burn, down, the,...
6     [Fed, shrug, as, Subprime, Crisis, Spread,  , ...
7     [Greenspan,  , subprime,  , accident, wait, to...
8     [Fed, cut, rate, by, a, quarter, point, Ben, B...
9     [stock, end, the, Year, with, only, Modest, Ga...
10    [maxjet, collapse, into, bankruptcy,  , Maxjet...
11    [banker, look, to, Fed, to, restore, confidenc...
12    [Lehman, face, legal, threat, over, CDO, deal,...
13    [Japan, big, bank, reluctant, to, pay, for, su...
14    [Bank, of, America, shut,  , 12, billion, cash...
15    [the, rating, game,  , CDOs, crash,  , bank, m...
16    [housing, meltdown, hit, US, economy,  , the, ...
17    [foreclosure, wave, sweep, America,  , a, wave...
18    [receive, free, Credit, Suisse, Group, AG, upd...
19    [Dow, plunge, 362, point, on, credit, fear,  ,...
20    [More, trouble, ahead, for, credit, market, ra...
21    [foreclosure, reach, record, high, lender, rep...
22    [NovaStar, Stock, Plunges, 63,  , on, Bankrupt...
23    [update, 3, CIBC, warn, of,  , large, charge, ...
24    [home, price, post, record, decline, S, p, Cas...
Name: News, dtype: object

In [19]:
#make sure to lowercase everything
lemmatized = lemmatized.map(lambda x: [word.lower() for word in x])

In [20]:
lemmatized.head()

0    [credit, market, strain, hang, on, bank, resul...
1    [dollar, likely, to, weather, any, u, s,  , re...
2    [central, bank, plan, delay, day, of, reckon, ...
3    [inflation, see, hang, over, 2008, world, econ...
4    [investor, see, housing, as, top, u, s,  , ele...
Name: News, dtype: object

In [21]:
#turn all comments' tokens into one single list
unlist_comments = [item for items in lemmatized for item in items]

In [22]:
uni_freq = nltk.FreqDist(nltk.ngrams(unlist_comments, 1))
unigramFreqTable = pd.DataFrame(list(uni_freq.items()), columns=['unigram','freq']).sort_values(by='freq', ascending=False)
unigramFreqTable

              unigram  freq
7                ( ,)  1646
22             (the,)  1223
40              (  ,)   643
97              (be,)   594
25              (of,)   580
...               ...   ...
874       (campaign,)     1
1913      (creditor,)     1
1912        (filing,)     1
1911  (unsuccessful,)     1
2923       (seattle,)     1

[2924 rows x 2 columns]

In [30]:
bi_freq = nltk.FreqDist(nltk.ngrams(unlist_comments, 2))
bigramFreqTable = pd.DataFrame(list(bi_freq.items()), columns=['bigram','freq']).sort_values(by='freq', ascending=False)
bigramFreqTable = bigramFreqTable.reset_index(drop=True)
bigramFreqTable

                  bigram  freq
0              (of, the)   125
1              (in, the)   122
2               ( , the)   109
3              (  , the)    89
4               ( , and)    79
...                  ...   ...
13900  (will, stabilize)     1
13901   (stabilize, the)     1
13902         (the, now)     1
13903   (now, uncertain)     1
13904  (positive, price)     1

[13905 rows x 2 columns]

## Initialize NLTK's Bigrams/Trigrams Finder

In [22]:
bigrams = nltk.collocations.BigramAssocMeasures()
trigrams = nltk.collocations.TrigramAssocMeasures()

In [23]:
bigramFinder = nltk.collocations.BigramCollocationFinder.from_words(unlist_comments)
trigramFinder = nltk.collocations.TrigramCollocationFinder.from_words(unlist_comments)

## 1. Counting Frequencies of Adjacent Words
- Main idea: simply order by frequency
- Issues: too sensitive to very frequent pairs and pronouns/articles/prepositions come up often
- Solution: filter for only adjectives and nouns

In [24]:
bigram_freq = bigramFinder.ngram_fd.items()

In [25]:
bigramFreqTable = pd.DataFrame(list(bigram_freq), columns=['bigram','freq']).sort_values(by='freq', ascending=False)

In [26]:
bigramFreqTable.reset_index(drop=True)

                  bigram  freq
0              (of, the)   125
1              (in, the)   122
2               ( , the)   109
3              (  , the)    89
4               ( , and)    79
...                  ...   ...
13900  (will, stabilize)     1
13901   (stabilize, the)     1
13902         (the, now)     1
13903   (now, uncertain)     1
13904  (positive, price)     1

[13905 rows x 2 columns]

In [27]:
bigramFreqTable[:10]

          bigram  freq
192    (of, the)   125
327    (in, the)   122
119     ( , the)   109
484    (  , the)    89
346     ( , and)    79
1279  (the, fed)    59
79        (s,  )    50
171     ( , say)    48
78        (u, s)    46
432   (have, be)    46

In [28]:
#get english stopwords
en_stopwords = set(stopwords.words('english'))

In [29]:
#function to filter for ADJ/NN bigrams
def rightTypes(ngram):
    if '-pron-' in ngram or '' in ngram or ' 'in ngram or 't' in ngram:
        return False
    for word in ngram:
        if word in en_stopwords:
            return False
    acceptable_types = ('JJ', 'JJR', 'JJS', 'NN', 'NNS', 'NNP', 'NNPS')
    second_type = ('NN', 'NNS', 'NNP', 'NNPS')
    tags = nltk.pos_tag(ngram)
    if tags[0][1] in acceptable_types and tags[1][1] in second_type:
        return True
    else:
        return False

In [30]:
#filter bigrams
filtered_bi = bigramFreqTable[bigramFreqTable.bigram.map(lambda x: rightTypes(x))]

In [31]:
filtered_bi[:20]

                    bigram  freq
599       (interest, rate)    29
8              (new, york)    28
649      (housing, market)    25
9355          (sub, prime)    23
1671        (wall, street)    23
81    (subprime, mortgage)    22
48         (central, bank)    22
0         (credit, market)    19
1238    (federal, reserve)    17
1954           (rate, cut)    16
2156         (percent,   )    15
87           (short, term)    14
2507      (subprime, loan)    12
1302          (market,   )    12
835             (year,   )    11
1935         (home, price)    11
3875          (last, week)    11
2477    (mortgage, crisis)    11
1291   (percentage, point)    10
2274           (cut, rate)    10

In [32]:
trigram_freq = trigramFinder.ngram_fd.items()

In [33]:
trigramFreqTable = pd.DataFrame(list(trigram_freq), columns=['trigram','freq']).sort_values(by='freq', ascending=False)

In [34]:
trigramFreqTable.head().reset_index(drop=True)

          trigram  freq
0       (u, s,  )    46
1     (the, u, s)    18
2    ( , he, say)    15
3  ( , charts,  )    15
4   (he, say,   )    14

In [35]:
trigramFreqTable[:10]

                       trigram  freq
80                   (u, s,  )    46
437                (the, u, s)    18
1194              ( , he, say)    15
16801           ( , charts,  )    15
1195             (he, say,   )    14
1439   (the, federal, reserve)    14
16864        ( , fortune, 500)    13
16863     (charts,  , fortune)    13
4779        (mr,  , greenspan)    12
730     (the, housing, market)    12

In [36]:
def rightTypesTri(ngram):
    if '-pron-' in ngram or '' in ngram or ' 'in ngram or '  ' in ngram or 't' in ngram:
        return False
    for word in ngram:
        if word in en_stopwords:
            return False
    first_type = ('JJ', 'JJR', 'JJS', 'NN', 'NNS', 'NNP', 'NNPS')
    third_type = ('JJ', 'JJR', 'JJS', 'NN', 'NNS', 'NNP', 'NNPS')
    tags = nltk.pos_tag(ngram)
    if tags[0][1] in first_type and tags[2][1] in third_type:
        return True
    else:
        return False

In [37]:
filtered_tri = trigramFreqTable[trigramFreqTable.trigram.map(lambda x: rightTypesTri(x))]

In [38]:
filtered_tri[:20]

                                  trigram  freq
5850           (mortgage, back, security)    10
13047              (sub, prime, mortgage)     8
640    (collateralized, debt, obligation)     6
167          (chief, investment, officer)     6
353          (adjustable, rate, mortgage)     6
14354               (sub, prime, lending)     5
3041         (subprime, mortgage, crisis)     5
7493                (cnnmoney, com,     )     5
382                 (money, market, fund)     5
1503         (quarter, percentage, point)     4
40         (reuters, investment, outlook)     4
6299               (term, interest, rate)     4
3383               (president, george, w)     4
12197              (enhanced, cash, fund)     3
689           (international, bond, fund)     3
690                 (bond, fund, manager)     3
552             (asset, back, commercial)     3
504          (senior, portfolio, manager)     3
554           (commercial, paper, market)     3
42                (outlook, 2008, summit)     3

In [39]:
freq_bi = filtered_bi[:20].bigram.values

In [40]:
freq_tri = filtered_tri[:20].trigram.values

## 2. PMI

In [41]:
bigramFinder.apply_freq_filter(0)

In [42]:
bigramPMITable = pd.DataFrame(list(bigramFinder.score_ngrams(bigrams.pmi)), columns=['bigram','PMI']).sort_values(by='PMI', ascending=False)

In [43]:
filtered_bi_PMI = bigramPMITable[bigramPMITable.bigram.map(lambda x: rightTypes(x))]

In [45]:
filtered_bi_PMI[:20]

                 bigram        PMI
92    (reuben, brother)  14.498475
89           (red, ink)  14.498475
88    (recovery, thank)  14.498475
86    (protest, tactic)  14.498475
85     (premium, cabin)  14.498475
82      (pce, deflator)  14.498475
81    (owner, occupier)  14.498475
80  (owen, fitzpatrick)  14.498475
78   (nsw, ministerial)  14.498475
77     (northern, rock)  14.498475
76  (nicolas, beckmann)  14.498475
75      (narrow, array)  14.498475
73       (mitt, romney)  14.498475
72        (mayor, rudy)  14.498475
71    (margaret, patel)  14.498475
70      (lou, crandall)  14.498475
69     (kitchen, table)  14.498475
68    (jpmorgan, chase)  14.498475
66        (jean, marie)  14.498475
65     (jane, campions)  14.498475

In [65]:
trigramFinder.apply_freq_filter(0)

In [66]:
trigramPMITable = pd.DataFrame(list(trigramFinder.score_ngrams(trigrams.pmi)), columns=['trigram','PMI']).sort_values(by='PMI', ascending=False)

In [67]:
filtered_tri_PMI = trigramPMITable[trigramPMITable.trigram.map(lambda x: rightTypesTri(x))]

In [68]:
filtered_tri_PMI[:20]

                               trigram        PMI
0                (cnnmoney, com,     )  23.353094
1   (collateralized, debt, obligation)  21.382241
2         (chief, investment, officer)  18.888426
4                (sub, prime, lending)  17.050483
7               (sub, prime, mortgage)  15.854086
9           (mortgage, back, security)  15.542034
10        (adjustable, rate, mortgage)  14.596961
16               (money, market, fund)  13.359318
21        (subprime, mortgage, crisis)  12.363842

In [50]:
pmi_bi = bigramPMITable[:20].bigram.values

In [51]:
pmi_tri = trigramPMITable[:20].trigram.values

## 3. t-test

In [52]:
bigramTtable = pd.DataFrame(list(bigramFinder.score_ngrams(bigrams.student_t)), columns=['bigram','t']).sort_values(by='t', ascending=False)

In [53]:
bigramTtable.head()

       bigram         t
0   (in, the)  8.878312
1   (of, the)  8.439249
2  (the, fed)  7.144585
3      (u, s)  6.740135
4  ( , which)  6.061542

In [54]:
filteredT_bi = bigramTtable[bigramTtable.bigram.map(lambda x: rightTypes(x))]

In [55]:
filteredT_bi[:10]

                  bigram         t
10      (interest, rate)  5.349688
11           (new, york)  5.276871
17     (housing, market)  4.919978
18        (wall, street)  4.790652
19          (sub, prime)  4.790444
22       (central, bank)  4.661170
23  (subprime, mortgage)  4.596794

In [56]:
trigramTtable = pd.DataFrame(list(trigramFinder.score_ngrams(trigrams.student_t)), columns=['trigram','t']).sort_values(by='t', ascending=False)

In [57]:
trigramTtable.head()

     trigram         t
0  (u, s,  )  6.779329

In [58]:
filteredT_tri = trigramTtable[trigramTtable.trigram.map(lambda x: rightTypesTri(x))]

In [59]:
filteredT_tri.head(10)

Empty DataFrame
Columns: [trigram, t]
Index: []

In [60]:
t_bi = filteredT_bi[:20].bigram.values

In [61]:
t_tri = filteredT_tri[:20].trigram.values

## 4. Chi-Square

In [62]:
bigramChiTable = pd.DataFrame(list(bigramFinder.score_ngrams(bigrams.chi_sq)), columns=['bigram','chi-sq']).sort_values(by='chi-sq', ascending=False)

In [63]:
bigramChiTable.head(20)

                  bigram        chi-sq
0         (wall, street)  21292.478170
1           (sub, prime)  20472.651206
2            (new, york)  10110.605924
3                 (u, s)   7362.493215
4       (interest, rate)   4375.758444
5        (central, bank)   3507.548600
6      (housing, market)   1526.282783
7              (he, say)   1414.836252
8   (subprime, mortgage)   1068.069036
9             (the, fed)    774.110317
10             (  , but)    538.886681
11             (in, the)    432.645208
12            ( , which)    411.413518
13           (there, be)    404.887373
14             (the, us)    344.779137
15             (of, the)    314.583836
16        (the, federal)    261.457127
17            (have, be)    223.197301
18               (mr,  )    216.717480
19              (it, be)    201.811785

In [64]:
trigramChiTable = pd.DataFrame(list(trigramFinder.score_ngrams(trigrams.chi_sq)), columns=['trigram','chi-sq']).sort_values(by='chi-sq', ascending=False)

In [65]:
trigramChiTable.head(20)

     trigram         chi-sq
0  (u, s,  )  103942.844586

In [66]:
chi_bi = bigramChiTable[:20].bigram.values

In [67]:
chi_tri = trigramChiTable[:20].trigram.values

## 5. Likelihood

In [68]:
bigramLikTable = pd.DataFrame(list(bigramFinder.score_ngrams(bigrams.likelihood_ratio)), columns=['bigram','likelihood ratio']).sort_values(by='likelihood ratio', ascending=False)

In [69]:
bigramLikTable.head()

             bigram  likelihood ratio
0            (u, s)        483.817023
1    (wall, street)        350.086489
2      (sub, prime)        345.428345
3       (new, york)        344.418770
4  (interest, rate)        281.210175

In [70]:
filteredLik_bi = bigramLikTable[bigramLikTable.bigram.map(lambda x: rightTypes(x))]

In [71]:
filteredLik_bi.head(10)

                  bigram  likelihood ratio
1         (wall, street)        350.086489
2           (sub, prime)        345.428345
3            (new, york)        344.418770
4       (interest, rate)        281.210175
7        (central, bank)        214.749694
10     (housing, market)        173.213583
13  (subprime, mortgage)        139.338942

In [72]:
trigramLikTable = pd.DataFrame(list(trigramFinder.score_ngrams(trigrams.likelihood_ratio)), columns=['trigram','likelihood ratio']).sort_values(by='likelihood ratio', ascending=False)

In [73]:
trigramLikTable.head()

     trigram  likelihood ratio
0  (u, s,  )       1094.486137

In [74]:
filteredLik_tri = trigramLikTable[trigramLikTable.trigram.map(lambda x: rightTypesTri(x))]

In [75]:
filteredLik_tri.head(20)

Empty DataFrame
Columns: [trigram, likelihood ratio]
Index: []

In [76]:
lik_bi = filteredLik_bi[:20].bigram.values

In [77]:
lik_tri = filteredLik_tri[:20].trigram.values

## Bigram Comparison

In [78]:
bigramsCompare = pd.DataFrame([freq_bi, pmi_bi, t_bi, chi_bi, lik_bi]).T

In [79]:
bigramsCompare.columns = ['Frequency With Filter', 'PMI', 'T-test With Filter', 'Chi-Sq Test', 'Likeihood Ratio Test With Filter']

In [80]:
bigramsCompare

,Frequency With Filter,PMI,T-test With Filter,Chi-Sq Test,Likeihood Ratio Test With Filter
0,"(interest, rate)","(wall, street)","(interest, rate)","(wall, street)","(wall, street)"
1,"(new, york)","(sub, prime)","(new, york)","(sub, prime)","(sub, prime)"
2,"(housing, market)","(new, york)","(housing, market)","(new, york)","(new, york)"
3,"(sub, prime)","(u, s)","(wall, street)","(u, s)","(interest, rate)"
4,"(wall, street)","(central, bank)","(sub, prime)","(interest, rate)","(central, bank)"
5,"(subprime, mortgage)","(interest, rate)","(central, bank)","(central, bank)","(housing, market)"
6,"(central, bank)","(housing, market)","(subprime, mortgage)","(housing, market)","(subprime, mortgage)"
7,"(credit, market)","(he, say)",None,"(he, say)",None
8,"(federal, reserve)","(subprime, mortgage)",None,"(subprime, mortgage)",None
9,"(rate, cut)","(there, be)",None,"(the, fed)",None
10,"(percent, )","( , but)",None,"( , but)",None
11,"(short, term)","(the, us)",None,"(in, the)",None
12,"(subprime, loan)","(the, fed)",None,"( , which)",None
13,"(market, )","(the, federal)",None,"(there, be)",None
14,"(year, )","(mr, )",None,"(the, us)",None
15,"(home, price)","( , greenspan)",None,"(of, the)",None
16,"(last, week)","( , which)",None,"(the, federal)",None
17,"(mortgage, crisis)","(it, be)",None,"(have, be)",None
18,"(percentage, point)","(the, housing)",None,"(mr, )",None
19,"(cut, rate)","(have, be)",None,"(it, be)",None

## Trigram Comparison

In [81]:
trigramsCompare = pd.DataFrame([freq_tri, pmi_tri, t_tri, chi_tri, lik_tri]).T

In [82]:
trigramsCompare.columns = ['Frequency With Filter', 'PMI', 'T-test With Filter', 'Chi-Sq Test', 'Likeihood Ratio Test With Filter']

In [83]:
trigramsCompare

,Frequency With Filter,PMI,T-test With Filter,Chi-Sq Test,Likeihood Ratio Test With Filter
0,"(mortgage, back, security)","(u, s, )",None,"(u, s, )",None
1,"(sub, prime, mortgage)",None,None,None,None
2,"(collateralized, debt, obligation)",None,None,None,None
3,"(chief, investment, officer)",None,None,None,None
4,"(adjustable, rate, mortgage)",None,None,None,None
5,"(sub, prime, lending)",None,None,None,None
6,"(subprime, mortgage, crisis)",None,None,None,None
7,"(cnnmoney, com, )",None,None,None,None
8,"(money, market, fund)",None,None,None,None
9,"(quarter, percentage, point)",None,None,None,None
10,"(reuters, investment, outlook)",None,None,None,None
11,"(term, interest, rate)",None,None,None,None
12,"(president, george, w)",None,None,None,None
13,"(enhanced, cash, fund)",None,None,None,None
14,"(international, bond, fund)",None,None,None,None
15,"(bond, fund, manager)",None,None,None,None
16,"(asset, back, commercial)",None,None,None,None
17,"(senior, portfolio, manager)",None,None,None,None
18,"(commercial, paper, market)",None,None,None,None
19,"(outlook, 2008, summit)",None,None,None,None